{{ if not .IsHome }}
<nav aria-label="Breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">

        <!-- Home -->
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ .Site.BaseURL }}">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1">
        </li>

        {{ $position := 2 }}

        <!-- Section (if exists) -->
        {{ with .Section }}
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ (site.GetPage .).Permalink }}">
                <span itemprop="name">{{ . | title }}</span>
            </a>
            <meta itemprop="position" content="{{ $position }}">
        </li>
        {{ $position = add $position 1 }}
        {{ end }}

        <!-- Current page -->
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="name">{{ .Title }}</span>
            <meta itemprop="position" content="{{ $position }}">
        </li>

    </ol>
</nav>
{{ end }}